In [4]:
'''
Class 3 Lab

'''
# imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt



# read in the CSV file from a URL
drinks = pd.read_csv('https://raw.githubusercontent.com/sinanuozdemir/SF_DAT_15/master/data/drinks.csv', na_filter=False)
























# 9. What is the average wine consumption in South America?


# 10. Which continent has the highest on average wine consumption?

In [8]:
# 1. Show the first 17 rows of drinks
drinks[:17]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
5,Antigua & Barbuda,102,128,45,4.9,NA
6,Argentina,193,25,221,8.3,SA
7,Armenia,21,179,11,3.8,EU
8,Australia,261,72,212,10.4,OC
9,Austria,279,75,191,9.7,EU
10,Azerbaijan,21,46,5,1.3,EU
11,Bahamas,122,176,51,6.3,NA
12,Bahrain,42,63,7,2.0,AS
13,Bangladesh,0,0,0,0.0,AS
14,Barbados,143,173,36,6.3,NA
15,Belarus,142,373,42,14.4,EU
16,Belgium,295,84,212,10.5,EU

In [10]:
# 2. create a variable called beer_servings and use it to store the beer_servings column
beer_servings = drinks["beer_servings"]

In [12]:
# 3. Display a dataframe where the only rows are those with continent North America
drinks[drinks.continent=='NA']

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
5,Antigua & Barbuda,102,128,45,4.9,NA
11,Bahamas,122,176,51,6.3,NA
14,Barbados,143,173,36,6.3,NA
17,Belize,263,114,8,6.8,NA
32,Canada,240,122,100,8.2,NA
41,Costa Rica,149,87,11,4.4,NA
43,Cuba,93,137,5,4.2,NA
50,Dominica,52,286,26,6.6,NA
51,Dominican Republic,193,147,9,6.2,NA
54,El Salvador,52,69,2,2.2,NA
68,Grenada,199,438,28,11.9,NA
69,Guatemala,53,69,2,2.2,NA
73,Haiti,1,326,1,5.9,NA
74,Honduras,69,98,2,3.0,NA
84,Jamaica,82,97,9,3.4,NA
109,Mexico,238,68,5,5.5,NA
122,Nicaragua,78,118,1,3.5,NA
130,Panama,285,104,18,7.2,NA
143,St. Kitts & Nevis,194,205,32,7.7,NA
144,St. Lucia,171,315,71,10.1,NA
145,St. Vincent & the Grenadines,120,221,11,6.3,NA
174,Trinidad & Tobago,197,156,7,6.4,NA
184,USA,249,158,84,8.7,NA

In [13]:
# 4. Create a new dataframe called north_america that holds your answer in 1.
# drinks (the dataframe) should remain unchanged
north_america = drinks[drinks.continent=='NA']

In [15]:
# 5. What is the average wine consumption per person per year in Africa?
drinks.wine_servings[drinks.continent=='AF'].mean()

16.264150943396228

In [18]:
# 6. Create a scatter plot between spirit servings and wine servings of all countries
drinks.plot(x='beer_servings', y='wine_servings', kind='scatter', alpha=0.3)
matplotlib inline

In [23]:
# 7. Show a list of the top 10 spirit drinking countries 
# (show only country names and spirit servings)
drinks.sort_index(by='spirit_servings',ascending=False)[:10]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
68,Grenada,199,438,28,11.9,NA
15,Belarus,142,373,42,14.4,EU
73,Haiti,1,326,1,5.9,NA
141,Russian Federation,247,326,73,11.5,AS
144,St. Lucia,171,315,71,10.1,NA
72,Guyana,93,302,1,7.1,SA
155,Slovakia,196,293,116,11.4,EU
50,Dominica,52,286,26,6.6,NA
169,Thailand,99,258,1,6.4,AS
40,Cook Islands,0,254,74,5.9,OC

In [ ]:
# 8. Plot 6 histograms of wine servings by continent, 
# remember to share x and share y axis scales!